<!--The content below is only a placeholder and can be replaced.-->
<div id="container">
  <div class="title">
    Compose question
  </div>

  <div class="input-group">
    <textarea class="form-control" aria-label="With textarea" placeholder="[This is the stem.]"></textarea>
  </div>
  <div class="title">
     Multiple choice options
  </div>

   <div cdkDropList class="example-list" (cdkDropListDropped)="drop($event)">
    <div class="example-box" *ngFor="let choice of choices ; index as i" >
      <div class="input-group mb-3" >
        <div class="input-group-prepend" cdkDrag >
          <span class="input-group-text" >
             <i class="fas fa-bars"></i>
          </span>
        </div>

        <input type="text" class="form-control" placeholder={{choice}} aria-label="Username" aria-describedby="basic-addon1">

        <button class="input-group-text delete" (click)="handleDelete(i)">
             <i class="fas fa-trash-alt"></i>
        </button>
      </div>
    </div>
   </div>
   <button type="button" class="btn btn-info" (click)="handleAdd()">
     <i class="fas fa-plus"></i> ADD
   </button>
</div>
